.cloud {
  background-image: url("../../asset/img/cloud.gif");
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 100vw;
}

.cloud-animate {
  animation-name: cloud-animation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cloud-animation {
  0% {
    left: 100vw;
  }
  100% {
    left: -15vw;
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .cloud {
    height: 100px;
  }
}

@media (max-width: 640px) {
  .cloud {
    height: 80px;
    top: 25px;
  }
}
